<div *ngIf="quiz && !questions" mat-progress-spinner>
   </div>
<div class="quiz" *ngIf="questions">
    <div class="questions" *ngIf="!showResults">
        <app-question-form
        [question]="questions[currentQuestionIndex]"
        (onChoiceMade)="updateChoice($event)">
        </app-question-form>
        <p></p>
        <button
            mat-fab color="accent"
            (click)="nextOrViewResults()"
            [disabled]="!answers.values[currentQuestionIndex]"
        >{{currentQuestionIndex === questions.length - 1 ? 'Results' : 'Next'}}
        </button>
    </div>
    <app-results *ngIf="showResults" [answers]="answers" [questions]="questions">
    </app-results>
</div>

